/* app css stylesheet */
.white  {
  color: #fff;
}

.appLogoName {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: xx-large;
    color: #00b3ee;
    width: 200px;
    padding: 5px;
}
.ToDoInput {
    height: 30px;
    width: 30%;
}

.addButton {
    color: #000000; !important;
    font-size: 1.5em;
    padding: 10px;
    margin-top: 40px;
}

.taskList {
    margin-top: 40px;
    margin-left: 122px;
    list-style-type: none;
}
.taskListContainer {

}

.deleteButton {
    color: #ff0000;
    font-size: 1.0em;
    padding: 10px;

}
