<div class="container" align="center" style="margin-top: 70px" ng-controller="todoViewController">
    <div class="container-fluid" align="center">
    <form>
    <div>
			<input class="ToDoInput" type="text" ng-model="enteredTask" placeholder="Enter Task Here">
			<div class="addButton glyphicon glyphicon-plus-sign" ng-click="addToList()"></div>
    </div>
    </form>
    <ul class="taskList">
        <li ng-repeat="items in taskList">
            <div class="container-fluid">
            <span style="float: left;">{{items.item}}</span>
            <div align="right" class="deleteButton glyphicon glyphicon-trash" ng-click="delete(task)"></div>
            </div>
        </li>

    </ul>
        </div>
    </div>
</div>
            